/* Change the background color of the navbar */
.navbar {
    background-color: #333;
}

/* Change the color of the brand and links */
.navbar-brand,
.nav-link {
    color: #fff !important;
}

/* Change the color of the dropdown items */
.dropdown-item {
    color: #333 !important;
}

/* Change the color of the brand, links, and dropdown items on hover */
.navbar-brand:hover,
.nav-link:hover,
.dropdown-item:hover {
    color: #ddd !important;
}

/* Change the color of the active link */
.nav-item.active .nav-link {
    color: #ddd !important;
    background-color: #666 !important;
}